
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat
}
/* Side nav basic styling */
#side-nav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(60, 73, 43);
  overflow-x: hidden;
  padding-top: 20px;
  
}

/* Sidenav links and button */

#side-nav nav > a, .dropdown-btn {
  padding: 1rem;
  text-decoration: none;
  font-size: 20px;
  color: #EBDFD1;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: all .2s ease
}

button > i { 
  float: right;
  padding-right: 1.5rem;
  font-size: 0.75rem;

}
button .minus {
  display: none;
}


#side-nav a:hover, .dropdown-btn:hover {
  color: rgb(240, 199, 152)
}

.dropdown-container {
  padding-left: .7rem;
  background: rgb(77, 94, 55);  
  transition: all .2s ease-in;
  display: none;
  
}

.dropdown-container a {
  padding: 1rem;
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #EBDFD1;
  background: none;
  border-bottom: 1px solid rgb(60, 73, 43);
  text-align: left;
  cursor: pointer;
  outline: none;
  width: 300px;
  position: relative;
  right: 10px;
  transition: .3s al ease;
}

.dropdown-container a:hover {
  background: rgb(60, 73, 43);
}




/* Search field */
form {
 
  text-align: center;
}
form #search {
  
  padding: .75rem 1.2rem;
  border: 2px solid#576148;
  background: rgb(60, 73, 43);
  margin-top: 2rem;
  font-size: 1rem;
  outline: none;
  color: #576148;
  margin-bottom: 2rem;
  

}
 ::placeholder {
    color: #576148;
    
}

.search-btn {
  position: relative;
  right: 40px;
  color: #576148;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
 

}

.search-btn:hover {
  color: rgb(240, 199, 152);
}
  /* removes default clear field button in search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
